@model HomeDetailsViewModel

@{
    ViewBag.Title = "Employeee Details";
}
<h3> Employee Details </h3>

@if (Model.Employee != null)
{
    <div>
        ID: @Model.Employee.Id
    </div>
    <div>
        Name: @Model.Employee.Name
    </div>
    <div>
        Department: @Model.Employee.Department
    </div>
    <div>
        Email: @Model.Employee.Email
    </div>
}
else
{
    <p>Employee not found</p>
    <a href="@Url.Action("Index", "Home")">Back</a>
}
